@model Transcoma.Models.Account.Usuario
@{
    ViewData["Title"] = "Iniciar Sesion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<body>
    <div>
        <h3>Bienvenido! @Model._nombreUsuario</h3>
        <label>

            Iniciar Sesion
        </label>
    </div>
</body>


