<mat-card class="col-md-12">
  <mat-card-title>Tarifas de transporte marítimo</mat-card-title>
  <form class="example-form">
    <div class="row container">
    <mat-form-field appearance="standard" class="example-full-width">
      <label>ORIGEN DE LA CARGA</label>
      <mat-select placeholder="País, Ciudad, Puerto o codigo Postal">
          <mat-option *ngFor="let puerto of puertos" [value]="puerto" [(ngModel)]="bl._pol">
            {{puerto._nombre}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" class="example-full-width">
      <label>DESTINO DE LA CARGA</label>
      <mat-select placeholder="País, Ciudad, Puerto o codigo Postal">
          <mat-option *ngFor="let puerto of puertos" [value]="puerto" [(ngModel)]="bl._pod">
            {{puerto._nombre}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard" class="example-full-width">
      <label>¿CONTENEDOR COMPLETO O COMPARTIDO?</label>
     <!-- <input type="text" placeholder="" aria-label="" matInput>-->
      <mat-select placeholder="Completo/Compartido">
          <mat-option>
            Contenedor Completo FCL
          </mat-option>
          <mat-option>
             Contenedor Compartido LCL
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" class="example-full-width">
        <label>TAMAÑO DEL CONTENEDOR</label>
        <mat-select placeholder="Contenedor" multiple>
            <mat-option style="width: 800px; height:80px;" value="Contenedor1">
                <label> 20 PIES</label>
                <label>20'X 8'x 8'6''</label>
                <img src="../../../assets/img/20ftcontainer_v2.png" style="width: 75px; height: 42px; float:right;">
            </mat-option>
            <mat-option  style="width: 800px; height:100px; " value="Contenedor2">
                <label> 40 PIES</label>
                <label>40'X 8'x 8'6''</label>
                <img src="../../../assets/img/40ftcontainer_v2.png" style="width: 150px; height: 42px; float:right;">
            </mat-option>
            <mat-option  style="width: 800px; height:100px; " value="Contenedor3">
                <label> 40 PIES HC</label>
                <label>40'X 8'x 9'6''</label>
                <img src="../../../assets/img/40fthighcube_v2.png" style="width: 135px; height: 52px; float:right;">
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="standard" style="width:50px;">
          <label>CANTIDAD</label>
          <input matInput placeholder="" type=number>
        </mat-form-field>
        <mat-form-field  appearance="standard" style="width:100px;">
            <label>PESO</label>
            <input matInput placeholder="0" type=number>
        </mat-form-field>
        <mat-form-field  appearance="standard" style="width:100px;">
            <label>unidad</label>
          <mat-select placeholder="">
              <mat-option value="Kg">
                Lbs
              </mat-option>
              <mat-option value="Kg">
                Kg
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  appearance="standard" style="width:100px;">
              <label>VOLUMEN</label>
              <input matInput placeholder="0" type=number>
        </mat-form-field>     
        <mat-form-field  appearance="standard"  style="width:100px;"> 
            <label>Unidad</label>
                <mat-select placeholder="" >
                    <mat-option value="CFT">
                       CFT
                     </mat-option>
                    <mat-option value="CBM">
                       CBM
                    </mat-option>
                    <mat-option value="CIN">
                        CIN
                     </mat-option>
                  </mat-select>
        </mat-form-field>
           
        <button type="button" mat-button aria-label = "Toogle sidenav">
            COTIZAR
        </button>
      
      
  </div>
  </form>
</mat-card>
<mat-card class="col-md-12">
    <mat-card-title>Tarifas de Envío </mat-card-title>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>directions_boat</mat-icon> Puerto de BARCELONA (ESPAÑA)  ->
              <mat-icon>directions_boat</mat-icon> Puerto de MADRID (ESPAÑA)  
            </mat-panel-title>
            <mat-panel-description>
                216,50 €
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Siguiente salida 15/nov/2018</p>
          <p>Duración: 7 días</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>directions_boat</mat-icon> Puerto de BARCELONA (ESPAÑA)  ->
            <mat-icon>directions_boat</mat-icon> Puerto de MADRID (ESPAÑA)  
          </mat-panel-title>
          <mat-panel-description>
            886,50 €
          </mat-panel-description>
        </mat-expansion-panel-header>
            <p>Siguiente salida 17/nov/2018</p>
            <p>Duración: 4 días</p>
            <p><b>Desglose de Precios</b></p>
            <hr>
            <p>Fletes y Recargos         206,50€</p>
            <hr>
            <p>Gastos Administrativos    680,00€</p>
            <hr>
            <p>                   TOTAL: 886,50€ <button style="float:right; color:white;" type="button" mat-button aria-label = "Toogle sidenav">
                GENERAR BL</button></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>directions_boat</mat-icon> Puerto de BARCELONA (ESPAÑA)  ->
            <mat-icon>directions_boat</mat-icon> Puerto de VALENCIA (ESPAÑA)  
          </mat-panel-title>
          <mat-panel-description>
          118,50 €
          </mat-panel-description>
        </mat-expansion-panel-header>
            <p>Siguiente salida 21/nov/2018</p>
            <p>Duración: 10 días</p>
        </mat-expansion-panel>
      </mat-accordion>
  </mat-card>