
.tab input.tabs{
    position:absolute;
    left: -9999px;
    top: -9999px;
    margin-bottom: 50px;
}

.tab {

    width: 80%;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 30px auto auto 30px; 
   
}


.tab li {
    float:left;
    width:auto;
}

.tab label {
     display: block;
     padding: 10px 40px;
     border-radius: 2px 20px 0 0;
     color: rgba(14, 62, 103,1);
     font-size: 15px;
     background: rgba(181, 180, 180, 0.27);
     cursor: pointer;
     position: relative;
     top: 0px;
     transition: all 0.2s ease-in-out;
    }

.tab label:hover {
    background: rgba(128, 128, 128, 0.43);
    top: 0;
}

.tabs:checked + label{
    background:#08c;
    color:#fff;
    top:0;
}



.tabs:checked ~ .tab-content {
    display: block;
  /*  position: relative;*/
}

.tab-content {
    background: rgba(181, 180, 180, 0.25);
    box-sizing: border-box;
    color: #000;
    display: none;
    left: 0;
    line-height: 140%;
    font-size: 14px;
    padding: 0.5px;
    padding-top: 5px;
    padding-bottom: 0.1px;
    position: absolute;
    text-align: justify;
    width: 100%;
    z-index: 2;
    animation-duration: 0.5s;
    max-width: 100%;
    height: auto;
    // overflow: auto;
}

.tab-content th {
    text-align: center;
    color: rgb(10, 52, 87);
}
th {
    text-align: left;
}
    tbody {
    height: 300px;
    overflow: auto;
    width: 100.1%;
}

thead > tr, tbody {
    display: block;
}

thead > tr, th {
    text-align: center;
}

/** propiedad responsive */
@media screen and (min-width: 600px) and (max-width:720px) {
    .tab-content {
        width: 700px;
        flex-basis: 0;
        flex-grow: 1;
        font-size: 15px;
    }
    th{
        font-size:13px;
    }
    .tab label {
        display: block;
        padding: 10px 30px;
        border-radius: 2px 20px 0 0;
        color: rgba(14, 62, 103,1);
        font-size: 14px;
        background: rgba(181, 180, 180, 0.27);
        cursor: pointer;
        position: relative;
        top: 0px;
        transition: all 0.2s ease-in-out;
    }
    .tab {
        width: 80%;
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 20px auto auto 40px;
    }
    td {
        border: 0.5px solid rgba(181, 180, 180, 0.25);        
    }

}