<mat-card>
        <div class="main-container">
         <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <section>
                            <label>Shipper</label>
                            <br>
                            <textarea rows="4" cols="70" placeholder="" (click)="openDialog()" [(ngModel)]="shipper"></textarea>
                           <!-- <button (click)="openDialog()">abrir </button> -->
                        </section>
                    </div>
                    <div class="row">
                        <section>
                            <label>Consignee</label>
                            <br>
                            <textarea rows="4" cols="70" placeholder=""></textarea>
                        </section>
                    </div>
                    <div class="row">
                            <div class="row">
                                <section>
                                    <label>Notify Party(No Claim Shall Attach For Failure To Notify)</label>
                                    <br>
                                    <textarea rows="6" cols="70" placeholder=""></textarea>
                                </section>
                            </div>
                    </div>
                    <div class="row">
                            <table>
                                    <tr>
                                        <th></th>
                                        <th><label>Place of Receipt/Precarriage By</label></th>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                                <textarea rows="2" cols="34" placeholder=""></textarea>
                                        </td>
                                    </tr> 
                            </table>
                    </div>
                    <div class="row">
                        <table>
                            <tr>
                                <th><label>Ocean Vessel</label></th>
                                <th><label>Port Of Loading</label></th>
                            </tr>
                            <tr>
                                <td>
                                    <textarea rows="2" cols="34" placeholder=""></textarea>
                                </td>
                                <td>
                                        <textarea rows="2" cols="33" placeholder=""></textarea>
                                </td>
                            </tr>             
                    </table>
                    </div>
                </div>
            </div>
            <div class="row">
                    <table>
                            <tr>
                                <th><label>Port Of Discharge</label></th>
                                <th><label>Place of Delivery</label></th>
                                <th><label>Freight Payable At</label></th>
                                <th><label>Numb of Origin B/L'S</label></th>
                            </tr>
                            <tr>
                                <td>
                                    <textarea rows="2" cols="60" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="2" cols="60" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="2" cols="40" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="2" cols="50" placeholder=""></textarea>
                                </td>
                            </tr>             
                    </table>
            </div>
            <div class="row">
                    <table>
                            <tr>
                                <th><label>MARKS AND NUMBER</label></th>
                                <th><label>NUMB OF PKGS OR SHIPPING UNITS</label></th>
                                <th><label>DESCRIPTION OF GOODS AND PACKAGES</label></th>
                                <th><label>GROSS WEIGHT OF CARGO IN KILOS</label></th>
                            </tr>
                            <tbody>
                            <tr>
                                <td>
                                    <textarea rows="5" cols="50" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="5" cols="60" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="5" cols="60" placeholder=""></textarea>
                                </td>
                                <td>
                                    <textarea rows="5" cols="40" placeholder=""></textarea>
                                </td>
                            </tr>
                        </tbody>    
                            <tfoot>
                                    <td style="width:100%">
                                    </td>
                                    <td style="width:100%">
                                     </td>
                                     <td style="width:100%">
                                     </td>
                                    <td>
                                        <label>Volumen</label>
                                        <br>
                                        <textarea rows="3" cols="40" placeholder=""></textarea>
                                    </td> 
                            </tfoot>      
                    </table>
            </div>
        
        </div>
        </mat-card>
        <div class="row validate-bar col-md-12 col-sm-12">
              <button class="btnValidar">Validar</button>
                     
        </div>
        <div class="row footer">
                <div class="col-md-12 col-sm-12">
                        &nbsp;
                 </div>
        </div>