.mat-card{
    border: 2px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.103);
    margin-top: 20px;
    margin-left: 210px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 100%;
    border-radius: 1px;
    
}
