@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>*@

@*<h3>@ViewData["Message"]</h3>*@



<article>

    @*@*Use this area to provide additional information.*@
    @*<div class="row">
                <div class="wpb_wrapper">
                    <h2>QUIENES SOMOS</h2>
                </div>
            </div>
        <p style="text-align: justify;">Grupo Transcoma es uno de los más potentes y sólidos holdings de empresas relacionadas con el comercio nacional e internacional, y que ofrece &#8211; como actividades principales &#8211; servicios en las áreas de agencia marítima, aduanera, transitaria y logística.</p>
        <p style="text-align: justify;">Actualmente, el Grupo Transcoma afronta el futuro con optimismo, enfocado estratégicamente a su implantación a nivel internacional.</p>*@

    <div class="row" style="padding:2% 4% 0 0">
        <style type="text/css" data-type="q_elements_custom_padding" scoped=""></style>
        
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h2><b>MISIÓN</b></h2>
            </div>
        </div>
        <div class="separator  transparent" style="margin-top: 32px;margin-bottom: 0px;height: 0px;"></div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p style="text-align: justify;"><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089"><strong>Transcoma Grupo Empresarial</strong>&nbsp;es una holding de capital familiar y nacional que gestiona&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">diversas</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">empresas</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;de&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">servicios</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;que&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">tienen</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;como principal&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">objetivo</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">ofrecer</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;<strong>soluciones&nbsp;</strong></span></span><strong><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">integrales</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;a las&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">necesidades</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="NormalTextRun SCX98241089">&nbsp;</span></span><span class="TextRun SCX98241089" lang="CA-ES" xml:lang="CA-ES"><span class="SpellingError SCX98241089">logísticas</span></span><span class="TextRun SCX98241089" lang="ES-ES" xml:lang="ES-ES"><span class="NormalTextRun SCX98241089">&nbsp;de los diferentes segmentos del mercado</span></span></strong><span class="TextRun SCX98241089" lang="ES-ES" xml:lang="ES-ES"><span class="NormalTextRun SCX98241089">. Sus actividades principales se centran en las áreas de agencia marítima,&nbsp;</span></span><span class="TextRun SCX98241089" lang="ES-ES" xml:lang="ES-ES"><span class="SpellingError SCX98241089">transitaria</span></span><span class="TextRun SCX98241089" lang="ES-ES" xml:lang="ES-ES"><span class="NormalTextRun SCX98241089">&nbsp;/ aduanera y logística.&nbsp;</span></span><span class="EOP SCX98241089">​</span></p>
            </div>
        </div>
        <div class="separator  transparent   " style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
    </div>
    <div class="row" style="padding:2% 4% 0 0">
        <style type="text/css" data-type="q_elements_custom_padding" scoped="">
        </style>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h2><b>VISIÓN</b></h2>
            </div>
        </div> <div class="separator  transparent   " style="margin-top: 32px;margin-bottom: 0px;height: 0px;"></div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <p style="text-align: justify;">Consolidar y ampliar las actividades del Grupo y su imagen corporativa, satisfaciendo las expectativas de todas las partes: colaboradores, clientes, accionistas y la sociedad en general.​</p>
            </div>
        </div> <div class="separator  transparent   " style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
    </div>
    <div class="row" style="padding:2% 4% 0 0">
        <style type="text/css" data-type="q_elements_custom_padding" scoped="">
        </style>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <h2><b>VALORES</b></h2>
            </div>
        </div> <div class="separator  transparent   " style="margin-top: 32px;margin-bottom: 0px;height: 0px;"></div>
        <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
                <ul>
                    <li>
                        <strong>Profesionalidad, Compromiso y Entusiasmo:</strong>
                        &nbsp;solamente es posible alcanzar el éxito con colaboradores sobresalientes que trabajen unidos en un entorno que promueva el conocimiento y crecimiento​.
                    </li>
                    <li>
                        <strong>Orientación al cliente</strong>
                        . Servicio: Existimos para hacer más competitivos a nuestros clientes. Anticipamos sus necesidades y superamos sus expectativas​.
                    </li>
                    <li>
                        <strong>Ética</strong>
                        &nbsp;en todas nuestras relaciones​.
                    </li>
                    <li>
                        <strong>Trabajo en equipo y Solidaridad</strong>
                    </li>
                    <li>
                        Mentalidad innovadora: la&nbsp;
                        <strong>innovación</strong>
                        &nbsp;es la clave del crecimiento y puede provenir de cualquier persona en cualquier momento​.
                    </li>
                    <li>
                        <strong>Orgullo de pertenencia</strong>
                        &nbsp;al Grupo.
                    </li>
                    <li>
                        <strong>Meritocracia</strong>
                    </li>
                    <li>
                        <strong>Mejora continua</strong>
                        &nbsp;en busca de la excelencia​.
                    </li>
                </ul>
            </div>
        </div> <div class="separator  transparent   " style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
    </div>
</article>
