<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="postgreString" 
         connectionString=
           "User ID=postgres;
            Password=admin2018;
            Host=localhost;
            Port=5432;
            Database=Transcoma;" 
         providerName="Devart.Data.PostgreSql" />
  </connectionStrings>
</configuration>