::ng-deep .mat-dialog-container {
    display: block;
    padding: 40px;
    border-radius: 10px;
    /*box-sizing: border-box;*/
    overflow: auto;
    outline: 0;
    width: 4000px;
    height: 600px;
    min-height: inherit;
    max-height: inherit;
}

::ng-deep  .mat-dialog-container {
    box-shadow: 0 11px 15px 7px rgba(0, 0, 0, 0.288), 0 24px 38px 3px rgba(0, 0, 0, 0.76), 0 9px 46px 8px rgba(0,0,0,.12);    background: rgba(248, 243, 243, 0.973);
    color: black;
}

::ng-deep .mat-dialog-title {
    text-align: center;
    color: darkgreen; 
}

