<label class="titulo">{{Posicion}} </label>
<h1 mat-dialog-title><b>Detalle</b></h1>
<mat-card>
<div mat-dialog-content>
  <mat-icon>home</mat-icon>
    <ul>
      <li *ngIf="Posicion==='Entrada'"><b>Fecha de Entrada: </b>{{entrada.entradas.fechaEntrada | date: 'dd/MM/yyyy'}}</li>
      <li *ngIf="Posicion==='Salida'"><b>Fecha de Salida: </b>{{entrada.entradas.fechaSalida | date: 'dd/MM/yyyy'}}</li>
    </ul>
    <ul>
      <li><b>Codigo del Producto: </b>{{entrada.entradas.producto.id }}</li>
    </ul>
    <ul>
      <li><b>Producto: </b>{{entrada.entradas.producto.$descripcion}}</li>
    </ul>   
    <ul>
      <li><b>Lote: </b>{{entrada.entradas.producto.$lote }}</li>
    </ul>
    <ul>
      <li><b>Calidad en que se encuentra: </b>{{entrada.entradas.producto.$estadoCalidad }}</li>
    </ul>
    <ul>
      <li *ngIf="entrada.entradas.producto.$disponible===true"><b> Disponible: </b> <label *ngIf="entrada.entradas.producto.$disponible===true"> si</label></li>
      <li *ngIf="entrada.entradas.producto.$disponible===false"><b> Disponible: </b><label *ngIf="entrada.entradas.producto.$disponible===false"> no </label></li>
    </ul>
    <ul>
      <li><b>Codigo del almacen: </b>{{entrada.entradas.almacen.id }}</li>
    </ul>
    <ul>
      <li><b>Nombre del Almacen: </b>{{entrada.entradas.almacen.$nombre }}</li>
    </ul>
    <ul>
      <li><b>Direccion: </b>{{entrada.entradas.almacen.$direccion }}</li>
    </ul>
  
</div>
<div mat-dialog-actions>
    <button mat-button class="btn-detalle" (click)="onNoClick()"></button>
    <button mat-button class="btn-detalle" [mat-dialog-close]="entrada.descripcion" cdkFocusInitial>
      <mat-icon class="arrow-back-icon">arrow_back_ios</mat-icon>Volver</button>
</div>
</mat-card>